# Data files and directories (large files that shouldn't be in Git)
old/

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb

